.rootLayout{
    height: 100svh;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
}

.topNavBar{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    height: 10%;
    top: 0;
    color: white;
    border-bottom: 1px solid white;
    z-index: 3;
}

.topNavBar:hover {
    background-color: #4D49A7;
    transition: 0.5s ease-in-out;
}

.topNavBar:not(:hover) {
    backdrop-filter: saturate(130%) blur(20px);
    color: white;
    transition: 0.5s ease-in-out;
}

.headerLeftLogo{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
      position: relative;
  left: -4.3%;
}

.headerCenterUniversity{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.headerRightIcon{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo1{
    width: 30%;
    height: 80%;
    padding-bottom: 6%;
}

.hiddenContainer {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 350%;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.headerCenterUniversity:hover .hiddenContainer {
    opacity: 1;
    visibility: visible;
    background-color: #4D49A7;
    border-top: 1px solid white;
}

.headerCenterUniversity:not(hover) .hiddenContainer {
    opacity: 0;
    visibility: hidden;
    transition:  0.5s ease-in-out;
    border-top: 1px solid white;
}

.LinkTitle{
    display: flex;
    justify-content: center;
    align-items: center;
}
