.universityContainer {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.mainTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C3C4DB;
    border-radius: 10px 10px 10px 10px;
    min-height: 10%;
    max-height: 10%;
}

.cardTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    width: 80%;
}

.cards:hover .card:not(:hover){
    transform: scale(0.9);
    filter: grayscale(1);
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid  #D7D7D7;
    transition: 0.5s;
    cursor: pointer;
}

.card img {
    width: 80%;
    height: auto;
    object-fit: contain;
}

@media (min-width: 1024px) {
    .cards {
        grid-template-columns: repeat(7, 1fr);
    }
}

.footerImg {
    width: 100vw;
}

/* .footerContainer{
    width: 100%;
    height: 20%;
    background-color: #31343D;
} */

.test2{
    display: flex;
    justify-content: center;
    align-items: center;
}