.introContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    flex-direction: column;
}

.introContainerFirst,
.introContainerSecond {
    display: flex;
}

.introContainerFirst h1:nth-child(1),
.introContainerSecond h1:nth-child(1) {
    background-color: #4d49a7;
    border-radius: 10px 0 10px 0;
    height: 1.5rem;
    min-height: 30%;
    max-height: 30%;
}

.mainContainer {
    width: 100%;
    height: 100vh;
}
.mainContainer2 {
    width: 100%;
    height: 100vh;
    background-color: #f5f7fa;
}

.sectionContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionContainer2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sectionContainer3 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 4cqw;
}

.mainTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c3c4db;
    min-height: 4%;
    max-height: 4%;
    border-radius: 10px 0 10px 0;
    margin: 0;
    font-size: 2.5rem;
}

.sectionTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    font-size: 1.25rem;
}

.mainContent,
.mainContent2 {
    text-align: center;
    margin-top: 5rem;
    font-size: 1.25rem;
}

.mainContent2 {
    margin-right: 2rem;
}

.promotion1Img {
    width: 30%;
    height: 55%;
}

.mainContent3 {
    margin-right: 5%;
    margin-top: -35%;
}
.mainContent3:nth-child(2) {
    margin-right: 0%;
}

.imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6%;
}

.promotion2Img,
.promotion3Img,
.promotion4Img {
    margin-bottom: 2%;
}

.promotion2Img {
    width: 40%;
}
.promotion3Img {
    width: 60%;
}
.promotion4Img {
    width: 70%;
}
.promotion5Img {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  */
.laptopTitle {
    display: flex;
    width: 100%;
    height: 60%;
    align-items: center;
}

.laptopImg {
    width: 70%;
    height: 70%;
    margin-bottom: 20%;
}

.laptopLeft1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

.laptopRight1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 6%;
}

.laptopLeft2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
}

.laptopRight2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
}

.leftSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.linkTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.iconContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2%;
}

.content {
    line-height: 0.6;
}

.promotion6Img {
    width: 55%;
    height: 55%;
    margin-top: -10%;
}
.promotion7Img {
    width: 55%;
    height: 55%;
    margin-top: -10%;
}
.promotion8Img {
    width: 55%;
    height: 55%;
    margin-top: -10%;
}
.laptopViewImg {
    position: absolute;
    width: 23.2%;
    height: 27%;
    top: 463%;
}
.laptopView2Img {
    position: absolute;
    width: 23.2%;
    height: 27%;
    top: 543%;
}

.videoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}