.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  width: 80%;
  margin: 0 auto;
}

.card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardHeader {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profileImage {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.nickname {
  font-weight: bold;
  margin-right: auto;
}

.date {
  color: #888;
}

.cardTitle {
  margin-bottom: 10px;
}

.cardStars {
  margin-bottom: 10px;
}

.star {
  color: #ffc107;
  margin-right: 5px;
}

.cardContent {
  margin-bottom: 10px;
}

.cardContent p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
  margin: 0;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
}

.likeButton {
  background: #e0e0e0;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.likeButton:hover {
  background: #d4d4d4;
}

.likeButton svg {
  margin-right: 5px;
}

.moreButton {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
}

.moreButton:hover {
  color: #0056b3;
  text-decoration: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 800px;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  overflow: auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.gridContainer{
    width: 100%;
    height: 100%;
}